
<div class="center jumbotron">

<p>

  <%= form_for @gossip do |f| %>
<div class="form-group" >
   <%= label_tag 'Pseudo :' %>
   <%= f.text_field :anonymous_gossiper, class: "form-control" %> <br> <br> 
</div>

<div class="form-group" >
    <%= label_tag 'Contenu :' %>
    <%= f.text_area :content, class: "form-control" %> <br> <br>
</div>

<div class="form-group" >
    <%= f.submit "Créer mon gossip", class: "btn btn-primary" %>
</div>

  <% end %>

</p>

 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
<p> Pourquoi tu scrolles jusqu'en bas petit malin ? </p>

</div>